<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <h1>Welcome to the Music App!</h1> -->
    <!-- <%= link_to "Go to Sign in", new_session_url%> -->
    <%= yield %>
  </body>
</html>
